.calculation-history{
  .history-card{
    margin-bottom: 15px;

    .inputs-table-container{
      font-size: 18px;

      .inputs-table{
        color: white;

        tr:last-child{
          border-bottom: 1px solid;
        }
      }
    }
  }

  .card-list{
    max-height: 100vh;
    overflow: auto;
  }
}